/* Content Performance */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 96px 32px 64px 288px;
isolation: isolate;

position: relative;
width: 1512px;
height: 1134px;

background: linear-gradient(0deg, #F8F9FF, #F8F9FF), #FFFFFF;


/* Main Content Canvas */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 1192px;
max-width: 1600px;
height: 974px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Left Side: Table View */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 776px;
height: 974px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 776px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 776px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Content Performance */

width: 776px;
height: 40px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 776px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Real-time engagement intelligence across all active streams. */

width: 776px;
height: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Section - Filters: Tonal separation, no borders */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 32px 24px 24px;
gap: 16px;

width: 776px;
height: 137px;

background: #EFF4FF;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 116px;
height: 61px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label:margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 4px;

width: 116px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 112px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* PLATFORM */

width: 112px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Options */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px 16px;
isolation: isolate;

width: 116px;
height: 40px;

background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* image clip */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 9.5px 8px 9.5px 87px;

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* image */

width: 21px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 30%;
right: 30%;
top: 40%;
bottom: 40%;

border: 1.575px solid #6B7280;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 84px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* All Platforms */

width: 84px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 119px;
height: 61px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label:margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 4px;

width: 119px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 115px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* DATE RANGE */

width: 115px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Options */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px 16px;
isolation: isolate;

width: 119px;
height: 40px;

background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* image clip */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 9.5px 8px 9.5px 90px;

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* image */

width: 21px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 30%;
right: 30%;
top: 40%;
bottom: 40%;

border: 1.575px solid #6B7280;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 87px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Last 30 Days */

width: 87px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 105px;
height: 81px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Label:margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 4px;

width: 105px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 101px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* TYPE */

width: 101px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Options */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px 16px;
isolation: isolate;

width: 105px;
height: 60px;

background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* image clip */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 9.5px 8px 9.5px 76px;

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* image */

width: 21px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 30%;
right: 30%;
top: 40%;
bottom: 40%;

border: 1.575px solid #6B7280;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 73px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* All Content */

width: 73px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button:margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 20px 0px 0px 174.031px;

width: 340px;
min-width: 165.97px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 24px;
gap: 8px;

width: 162.45px;
height: 44px;

background: #006D32;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 10.5px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 10.5px;
height: 7px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 95.95px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Asymmetric Bento-style Stats */

width: 776px;
height: 168px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 4px;

position: absolute;
height: 168px;
left: 466.67px;
right: 0px;
top: 0px;

background: #0070EA;
border-radius: 24px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 245.33px;
height: 20px;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* TOTAL ENGAGEMENT */

width: 245.33px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #FEFCFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 245.33px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 84.2K */

width: 245.33px;
height: 48px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
letter-spacing: -2.4px;

color: #FEFCFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 0px 0px;

width: 245.33px;
height: 28px;

opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Highest performing month ever */

width: 245.33px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #FEFCFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
isolation: isolate;

position: absolute;
height: 168px;
left: 0px;
right: 333.33px;
top: 0px;

background: #E5EEFF;
border-radius: 24px;


/* Gradient */

position: absolute;
left: 50%;
right: 0%;
top: 0px;
bottom: 0px;

background: linear-gradient(270deg, #006D32 0%, rgba(0, 109, 50, 0) 100%);
opacity: 0.1;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 378.67px;
height: 104px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 378.67px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* AGGREGATED REACH */

width: 378.67px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #006D32;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 378.67px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 1.2M */

width: 378.67px;
height: 48px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
letter-spacing: -2.4px;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 0px 0px;
gap: 4px;

width: 378.67px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 11.67px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 11.67px;
height: 7px;

background: #006D32;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 32.81px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 32.81px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 100.73px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Data Table */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;

width: 776px;
height: 438px;

background: #FFFFFF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Table */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 776px;
height: 362px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header → Row */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 776px;
height: 72px;

background: #EFF4FF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 27.5px 24px 28.5px;

width: 262.25px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 67.8px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 27.5px 24px 28.5px;

width: 109.47px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 35.86px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 27.5px 24px 28.5px;

width: 95.53px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 45.33px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 24px;

width: 117.81px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 50.47px;
height: 32px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 27.5px 24px 28.5px;

width: 87.63px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 39.63px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 27.5px 24px 28.5px;

width: 103.31px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Text */

width: 46.45px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 776px;
height: 290px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Row 1 (Active/Selected) */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 24px;

width: 776px;
height: 96.5px;

background: rgba(229, 238, 255, 0.3);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: -1px 0px;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 214.25px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 64px;
height: 40px;

background: #DCE9FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Thumb */

width: 64px;
height: 40px;

background: url(.jpg);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 132.63px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 132.63px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 132.63px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 132.63px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 95.44px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 27.5px 24px 29px 48px;

width: 133.47px;
height: 96.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 45.5px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 37.5px 24px 38px;

width: 95.53px;
height: 96.5px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 44.08px;
height: 21px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 37.5px 24px 39px;

width: 117.81px;
height: 96.5px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 50.91px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 37.5px 24px 39px;

width: 87.63px;
height: 96.5px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 26.27px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 36px 24px 36.5px;

width: 103.31px;
height: 96.5px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 4px 12px;

width: 55.3px;
height: 24px;

background: #00D166;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 31.3px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #005324;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row 2 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 24px;

width: 776px;
height: 98px;

border-top: 1px solid #EFF4FF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: -1px 0px;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 214.25px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 64px;
height: 40px;

background: #DCE9FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Thumb */

width: 64px;
height: 40px;

background: url(.jpg);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 82.14px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 82.14px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 82.14px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 82.14px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 81.28px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 28px 24px 29px 48px;

width: 133.47px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 45.44px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 38px 24px;

width: 95.53px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 47.53px;
height: 21px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 38px 24px 39px;

width: 117.81px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 47.89px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 38px 24px 39px;

width: 87.63px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 36.72px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 36.5px 24px;

width: 103.31px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 4px 12px;

width: 54.42px;
height: 24px;

background: #DCE9FF;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 30.42px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row 3 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 24px;

width: 776px;
height: 97.5px;

border-top: 1px solid #EFF4FF;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 214.25px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 64px;
height: 40px;

background: #DCE9FF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Thumb */

width: 64px;
height: 40px;

background: url(.jpg);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 120.36px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 120.36px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 98px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 120.36px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 120.36px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 28px 24px 28.5px 48px;

width: 133.47px;
height: 96.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 48.44px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 38px 24px 37.5px;

width: 95.53px;
height: 96.5px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 41.48px;
height: 21px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 38px 24px 38.5px;

width: 117.81px;
height: 96.5px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 24.92px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 38px 24px 38.5px;

width: 87.63px;
height: 96.5px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 25.89px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 36.5px 24px 36px;

width: 103.31px;
height: 96.5px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-start;
padding: 4px 12px;

width: 54.55px;
height: 24px;

background: #DCE9FF;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 30.55px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 24px;

width: 776px;
height: 68px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7.99px;

width: 151.43px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 131.44px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;

color: #006D32;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 12px;
height: 7.4px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 12px;
height: 7.4px;

background: #006D32;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Aside - Right Side: Detail Panel (Placeholder) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 384px;
height: 974px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 32px;

width: 384px;
height: 974px;

background: #EFF4FF;
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 112.5px;

width: 320px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

width: 167.48px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2.5px 12px;

position: absolute;
width: 91.8px;
height: 20px;
left: 0px;
top: -3px;

background: #64FF92;
border-radius: 9999px;


/* Text */

width: 67.8px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 15px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: -0.5px;
text-transform: uppercase;

color: #00210B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 3 → Content Detail */

position: absolute;
width: 167.48px;
height: 32px;
left: 0px;
top: 31px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #0B1C30;



/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;

width: 30px;
height: 30px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 14px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 14px;
height: 14px;

background: #0B1C30;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background+Border */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 0px;

width: 320px;
height: 167px;

background: #D3E4FE;
border: 2px dashed rgba(187, 203, 185, 0.3);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 24px;
gap: 8px;

width: 316px;
height: 123px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 27px;
height: 27px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 27px;
height: 27px;

background: #BBCBB9;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 13.67px;

width: 268px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 240.66px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
text-align: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 320px;
height: 320px;

opacity: 0.4;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Overlay */

width: 106.66px;
height: 8px;

background: rgba(60, 74, 61, 0.2);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

width: 320px;
height: 32px;

background: #E5EEFF;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

width: 320px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Background */

position: absolute;
height: 96px;
left: 0px;
right: 168px;
top: 0px;

background: #E5EEFF;
border-radius: 16px;


/* Background */

position: absolute;
height: 96px;
left: 168px;
right: 0px;
top: 0px;

background: #E5EEFF;
border-radius: 16px;


/* Background */

width: 320px;
height: 128px;

background: #E5EEFF;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 195px 0px 0px;

width: 320px;
height: 251px;
min-height: 56px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 320px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 0px;
gap: 11.99px;

width: 320px;
height: 56px;

background: #006D32;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 106.55px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Header - TopNavBar Anchor */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 32px;
gap: 775.97px;

position: absolute;
width: 1256px;
height: 80px;
right: 0px;
top: 0px;

background: rgba(248, 249, 255, 0.8);
backdrop-filter: blur(6px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 320px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 11px 24px 12px 48px;

width: 320px;
height: 40px;

background: #EFF4FF;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 248px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Search analytics... */

width: 248px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

color: #6B7280;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
left: 16px;
top: 20%;
bottom: 20%;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 18px;
height: 18px;

background: #3C4A3D;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 15.99px;

width: 84.09px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;

width: 32px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 16px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 20px;

background: #3C4A3D;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;

width: 36.1px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 20.1px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20.1px;
height: 20px;

background: #3C4A3D;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Aside - SideNavBar Anchor */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 32px 16px;

position: absolute;
width: 256px;
height: 1134px;
left: 0px;
top: 0px;

background: #EFF4FF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 40px 8px;

width: 224px;
height: 109px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 216px;
height: 69px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Group 345 */

width: 62.73px;
height: 69px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 95 */

position: absolute;
width: 41.52px;
height: 49.51px;
left: 19.54px;
top: 0px;

background: #6B61F0;
border: 1.42062px solid #6B61F0;


/* Vector 90 */

position: absolute;
width: 24.43px;
height: 14.49px;
left: 9.77px;
top: 14.48px;

background: #6B61F0;


/* Vector 91 */

position: absolute;
width: 24.6px;
height: 13.61px;
left: 0px;
top: 24.35px;

background: #6B61F0;
transform: matrix(0.5, -0.87, 0.87, 0.49, 0, 0);


/* Vector 92 */

position: absolute;
width: 24.61px;
height: 13.6px;
left: 9.77px;
top: 41.06px;

background: #6B61F0;
transform: matrix(-0.54, -0.84, 0.85, -0.53, 0, 0);


/* Vector 93 */

position: absolute;
width: 24.81px;
height: 13.49px;
left: 29.31px;
top: 45.91px;

background: #6B61F0;
transform: matrix(-1, 0.04, -0.04, -1, 0, 0);


/* Vector 94 */

position: absolute;
width: 24.6px;
height: 13.61px;
left: 39.08px;
top: 21.75px;

background: #6B61F0;
transform: matrix(-0.47, 0.88, -0.89, -0.46, 0, 0);


/* Frame 523 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 145.27px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Heading 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 145.27px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Omniview */

width: 145.27px;
height: 32px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #006D32;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 145.27px;
height: 32px;

opacity: 0.7;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* RESOURCE INTELLIGENCE */

width: 145.27px;
height: 32px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Nav */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 224px;
height: 160px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 224px;
height: 48px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #3C4A3D;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 86.13px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 86.13px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.4px;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 224px;
height: 48px;

background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #006D32;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 64.52px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 64.52px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.4px;

color: #006D32;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 224px;
height: 48px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 22px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 22px;
height: 16px;

background: #3C4A3D;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 74.63px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 74.63px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.4px;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 646px 0px 0px;

width: 224px;
height: 801px;
min-height: 64px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px;

width: 224px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

width: 192px;
height: 64px;

background: #E5EEFF;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* User Profile */

width: 40px;
max-width: 192px;
height: 40px;

background: url(.jpg);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 67.92px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 67.92px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 67.92px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #0B1C30;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 67.92px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 46.95px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #3C4A3D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
